acl "trusted" {
    {{ network }};
    localhost;
};

options {
    directory "/var/cache/bind";

    allow-query     { trusted; };
    allow-transfer  { none; };
    notify no;

    recursion yes;
    allow-recursion { trusted; };

    listen-on    { {{ secondary_ip }}; 127.0.0.1; };
    listen-on-v6 { none; };

    dnssec-validation auto;
};