acl "trusted" {
    {{ network }};
    localhost;
};

options {
    directory "/var/cache/bind";

    allow-query     { trusted; };
    allow-transfer  { {{ secondary_ip }}; };
    also-notify     { {{ secondary_ip }}; };

    recursion yes;
    allow-recursion { trusted; };

    listen-on    { {{ primary_ip }}; 127.0.0.1; };
    listen-on-v6 { none; };

    dnssec-validation auto;
    auth-nxdomain no;
};
